@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #f0cdce, #f0cdce,#f0cdce,#104a6f);
    display: flex;
    /*justify-content: center;*/*/
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
button {
    border-radius: 20px;
    border: 1px solid #104a6f;
    background-color: #104a6f;
    color: #f0cdce;
    font-size: 12px;
    font-weight: bold;
    margin:5px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}




.ghost {
    background-color: #f0cdce;
    border-color: #13263f;
    color: #13263f;
}



.main {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    height:80%;
    width: 80%;
    padding: 0px 0px;
    position: relative;
}
.left{
    border-radius: 10px 0px 0px 10px;

    width: 50%;
    height: 100%;
    float: left;
    margin: 0px 0px;
    z-index: 1;

}

.right{
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    height: 100%;
    float:left;
    margin: 0px 0px;
    z-index: 5;
}
.blue-box{
    background: #13263f;
    background: -webkit-linear-gradient(to right, #182f4a, #13263f);
    background: linear-gradient(to right, #182f4a, #13263f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    animation: blr 1s;
    height: 100%;
    width: 50%;
    margin: 0px 0px;
    position: absolute;
    right: 0px;

}


.profile{
    float:left;
    clear: both;
    height:25%;
    width:100%;
    position: relative;
    margin: 20% 0px 5% 0px;
}
.bio{
    float:left;
    clear: both;
    /*margin:5% 0px;*/
    color: #104a6f;
    font-weight: 500;
    font-size: 25px;
}


.tech{
    width: 90%;
    margin:15% 5%;
}
.tech>h1{
    padding: 5% 0px;
    color: #f0cdce;
}
.techic{
    font-size: 60px;
    margin: 10px;

}
.interest{
    width: 50%;
}

.navbar-toggler{
    position:relative;
    top:10px;
    right: 10px;
}



#me{
    border-radius: 50%;
    height: 100%;
    
}
