@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to bottom right, #f0cdce, #f0cdce,#f0cdce,#104a6f);*/
    display: flex;
    /*justify-content: center;*/
    background:linear-gradient(to top left, #C0C0C0,#C0C0C0,#104a6f);
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
}

h1 {
    font-size: 2.4vw;
    font-weight: bold;
    margin: 0;
}

button {
    border-radius: 20px;
    border: 1px solid #104a6f;
    background-color: #104a6f;
    color: #C0C0C0;
    font-size: 12px;
    font-weight: bold;
    margin:5px 0px;
    padding: 0.6vw 2.2vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}
li>h3{
    font-size: 2.5vw;
}
input{
    width: 50%;
}
textarea{
    width: 50%;

}
a:link {
  text-decoration: none;
}
label{
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    /*top:15vw;*/
    text-align: center;
}



.ghost {
    background-color: #C0C0C0;
    border-color: #13263f;
    color: #13263f;
}


.main {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    height:80%;
    width:90%;
    padding: 0px 0px;
    position: relative;
    top:8%;
    margin: 0px 0px 0px 0px;
}
.left{
    border-radius: 10px 0px 0px 10px;

    width: 50%;
    height: 100%;
    float: left;
    margin: 0px 0px;
    z-index: 1;

}

.right{
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    height: 100%;
    float:left;
    margin: 0px 0px;
    z-index: 5;
}
.blue-box{
    background: #13263f;
    background: -webkit-linear-gradient(to right, #182f4a, #13263f);
    background: linear-gradient(to right, #182f4a, #13263f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    animation: blr 1s;
    height: 100%;
    width: 50%;
    margin: 0px 0px;
    position: absolute;
    right: 0px;

}


.profile{
/*    float:left;
    clear: both;*/
    height:25%;
    width:100%;
    position: relative;
    top:15%;
    /*margin: 5vw 0px 5% 0px;*/
}
.bio{
/*    float:left;
    clear: both;*/
    /*margin:5% 0px;*/
    color: #104a6f;
    font-weight: 600;
    position: relative;
    top:20%;
    font-size: 1.6vw;
    height:40%;
}


.tech{
    position: relative;
    float:left;
    clear:both;
    height:65%;
    width: 100%;
    /*margin:2vw 0px 1.5vw 0px;*/
    top:8%;
}
.tech>h1{
    margin: 4% 0px;
    color: #C0C0C0;
    font-size: 4vw;
}
.techic{
    text-decoration: none;
    font-size: 5vw;
    margin: 0.5em;
    color:#ffffff;
    transition: font-size 0.5s;
}
.techic:hover{
    font-size: 5.2vw;
    color:#C0C0C0; 
}
.interest{
    width: 50%;
}
.but{
    float:left;
    clear: both;
    margin: 10% 0px;
    width:50%;
    position: relative;
    left: 33%;
}
.navbar-toggler{
    position:relative;
    top:10px;
    right: 10px;
}
.projinfo{
    /*width:90%;*/
    position: relative;
    top:10%;
    height:70%;
    margin: 10% 1% 5% 1%;
}

.projinfo>h1{
    /*width:90%;*/
    margin: 5% 0px;
    font-size: 2.5vw;
}
.car-img{
    height:80%;
    width:100%;
    background: linear-gradient(to bottom, #C0C0C0, #13263f);
    position: relative;
    margin: 10% 1%;
    padding: 0px;
} 
.car-img>img{
    height:80%;
    width:80%;
    position: relative;
    top:10%;
    left:8%;
    padding: 0px;
} 
.projinfo>p{
    /*width:90%;*/
    margin: 10% 0px;
    font-size: 1.6vw;
}
.techu{
    font-size: 4vw;
    padding:5px 10px;
}
.techused>h3{
    font-size: 2vw;
    font-weight: bold;
}


/*.soc{
    margin: 5px 10px;
}*/
#project{
    float:left;
    clear:both;

    font-size: 1.3vw;
}
 #about{
    float:left;
    clear:both;
    margin-left: 1.2vw;
    font-size: 1.3vw;
}

#me{
    border-radius: 50%;
    height: 100%;
    
}
#exp{

    position: relative;
    top:20%;
    height:30%;
    margin: 10% 1% 20% 1%;
    padding: 10px;

}
#exp>h2{
    font-size: 3vw;
}

#interest{
    position: relative;
    top: 5%;
}

/*#back{
    position: relative;
    bottom: 0px;
    margin-top:1%; 
}*/
#cont_info{
    margin: 10% 0%;
    height: 40%;
}
#cont_info>h2{
    font-size: 2.8vw;
}

#cont_form{
    font-size: 1.5vw;
}

#sub{
    position: relative;
    float: left;
    clear: both;
    left: 40%;
}
#contact{
    margin: 10% 0%;
}
#mail{
    font-size: 2vw;
}
#form_div{
    height:60%;
    width:100%;
    margin-top:20%;
}
#toggle{
    display: none;
}
#overlay{
  display: none;
}
.projback{
  position: relative;
  bottom: 10%;
}

@media screen and (max-width: 600px){

    li>h3{
      color: #104a6f;
      padding: 0px;
      margin: 0px;
      font-size: 4.5vw;
      font-weight: 500;s
    }
    ul{
      padding: 15px;
      margin-bottom: 0px;
    }
    #form_div>label{
        font-size: 5vw;
    }
    .right{
        display:none;
    }
    .blue-box{
        display: none;
    }
    .small_icon{
      display: inline;
      color: #000000;
    }
    .hidden{
      display: none;
    }
  .main {

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
      height:85%;
      width:90%;
      padding: 0px 0px;
      margin: 0px 0px 0px 0px;
  }
    .left{
       /* display: none;*/
        width: 100%;
        height: 95%;
    }
    .bio>h1{
        font-size: 5vw;
    }

    .bio{
        top:17%;
        height: 35%;
        font-size: 0.8em; 
    }
    .heading{
      color: #104a6f;
      font-size: 9vw;
      position: absolute;
      top:6%;
      left: 25%;
    }

    .projinfo{
        /*width:90%;*/
        height:50%;
        margin: 10% 1% 10% 1%;
    }
    .projinfo>h1{
        position: relative;
        top:2%;
        margin: 0px 0px;
        font-size: 4vw;
        color: #104a6f;

    }

    .projinfo>p{
        /*width:90%;*/
        color: #104a6f;
        position: relative;
        top:1%;
        margin: 10px 0px;
        font-size: 3.5vw;

    }
    .car-img>img{
        width: 50%;
        height: 60%;
        /*position: relative;*/
        top:15%;
        left:0px;
        /*padding: 0px;*/
    } 

    .techu{
        color: #104a6f;
        font-size: 8vw;
        padding:5px 10px;
    }

    .techused>h3{
        color: #104a6f;
        font-size: 4vw;
        font-weight: bold;
    }
    .tech{
      height:19%;
      width: 100%;
      float: left;
      position: relative;
      top:15%;
      left:0px;
    }
    h1.skhead{

      font-size: 1.5em;
      /*margin: 10% 0px;*/
      color: #104a6f;

    }
    .techic{
      color: #104a6f;
      font-size: 1.2em;
      /*padding: 2%;*/
    }
    .techic:hover{
        font-size: 1.8em;
        color:#C0C0C0; 
    }

    #carouselExampleControls{
        position: relative;
        top: 12%;
        /*left: 15%*/
        margin-left: 15%;
        height: 50%;
        width: 70%;
    }
    #carouselExampleControls>span{
      color:#000000;
    }

    #toggle{
        display: block;
    }
    #overlay{
        display: block;
    }

    #exp{
        position: relative;
        top:10%;
        height:30%;
        margin: 5%;
        padding: 10px;

    }
    #exp>h2{
        font-size: 5vw;
        font-weight: 700;
        color: #104a6f;
    }

    #interest{
        position: relative;
        top: 15%;
        margin-bottom: 0px;

    }
    #cont_info{
      position: relative;
      top:15%;
    }
    #form_div{
      margin-top:10%; 
      left: 13%;
    }
    label{
      font-size: 3.5vw;
      font-weight: 600;
    }
    #mail{
        font-size: 5vw;
    }
/*    #cont_info>span{
      position: absolute;
      left: 13%;
    }*/

    @import url(https://fonts.googleapis.com/css?family=Varela+Round);

/*    .container a {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #104a6f;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        top: 5px;
    }
    .container a:after {
        content: '';
        position: absolute;
        background: #104a6f;
        height: 2px;
        width: 0%;
        transform: translateX(-50%);
        left: 50%;
        bottom: 0;
        transition: .35s ease;
    }
    .container a:hover:after, .container a:focus:after, .container a:active:after {
        width: 100%;
    }*/



    .button_container {
        position: absolute;
        top: 18%;
        right: 10%;
        height: 27px;
        width: 10vw;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
    }
    .button_container:hover {
        opacity: 0.7;
    }
    .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #C0C0C0;
    }
    .button_container.active .middle {
        opacity: 0;
        background: #C0C0C0;
    }
    .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #C0C0C0;
    }
    .button_container span {
        background: #104a6f;
        border: none;
        height: 5px;
        width: 100%;
        border-radius: 60%;
        border-width: 1px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
    }
    .button_container span:nth-of-type(2) {
        top: 11px;
    }
    .button_container span:nth-of-type(3) {
        top: 22px;
    }

    .overlay {
        position: fixed;
        background: #104a6f;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
    }
    .overlay.open {
        opacity: .97;
        visibility: visible;
        height: 100%;
    }
    .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
    }
    .overlay.open li:nth-of-type(2) {
        animation-delay: .4s;
    }
    .overlay.open li:nth-of-type(3) {
        animation-delay: .45s;
    }
    .overlay.open li:nth-of-type(4) {
        animation-delay: .50s;
    }
    .overlay nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 10vw;
      font-family: 'Varela Round', serif;
      font-weight: 400;
      text-align: center;
    }
    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
    }
    .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
    }
    .overlay ul li a {
        display: block;
        position: relative;
        color: #C0C0C0;
        text-decoration: none;
        overflow: hidden;
    }
    .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
    }
    .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #C0C0C0;
        transition: .35s;
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }



}







