@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to bottom right, #f0cdce, #f0cdce,#f0cdce,#104a6f);*/
    display: flex;
    /*justify-content: center;*/
    background:linear-gradient(to top left, #C0C0C0,#C0C0C0,#104a6f);
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
}

h1 {
    font-size: 2.4vw;
    font-weight: bold;
    margin: 0;
}

button {
    border-radius: 20px;
    border: 1px solid #104a6f;
    background-color: #104a6f;
    color: #C0C0C0;
    font-size: 12px;
    font-weight: bold;
    margin:5px 0px;
    padding: 0.6vw 2.2vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}
li>h3{
    font-size: 2.5vw;
}
input{
    width: 50%;
}
textarea{
    width: 50%;

}
a:link {
  text-decoration: none;
}
label{
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    /*top:15vw;*/
    text-align: center;
}

.navbar{
    width: 50%;
}
.nav-item{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 20%;
}


.ghost {
    background-color: #C0C0C0;
    border-color: #13263f;
    color: #13263f;
}



.main {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    height:80%;
    width: 80%;
    padding: 0px 0px;
    position: relative;
    top:8%;
}
.left{
    border-radius: 10px 0px 0px 10px;

    width: 50%;
    height: 100%;
    float: left;
    margin: 0px 0px;
    z-index: 1;

}

.right{
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    height: 100%;
    float:left;
    margin: 0px 0px;
    z-index: 5;
}
.blue-box{
    background: #13263f;
    background: -webkit-linear-gradient(to right, #182f4a, #13263f);
    background: linear-gradient(to right, #182f4a, #13263f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    animation: blr 1s;
    height: 100%;
    width: 50%;
    margin: 0px 0px;
    position: absolute;
    right: 0px;

}


.profile{
/*    float:left;
    clear: both;*/
    height:25%;
    width:100%;
    position: relative;
    margin: 5vw 0px 5% 0px;
}
.bio{
/*    float:left;
    clear: both;*/
    /*margin:5% 0px;*/
    color: #104a6f;
    font-weight: 600;
    font-size: 1.6vw;
    height:40%;
}


.tech{
    position: relative;
    float:left;
    clear:both;
    height:60%;
    width: 100%;
    margin:2vw 0px 1.5vw 0px;
}
.tech>h1{
    margin: 3vw 0px;
    color: #C0C0C0;
    font-size: 4vw;
}
.techic{
    text-decoration: none;
    font-size: 4vw;
    margin: 0.5em;
    color:#ffffff;
    transition: font-size 0.5s;
}
.techic:hover{
    font-size: 5.2vw;
    color:#C0C0C0; 
}
.interest{
    width: 50%;
}
.but{
    float:left;
    clear: both;
    margin: 10% 0px;
    width:50%;
    position: relative;
    left: 30%;
}
.navbar-toggler{
    position:relative;
    top:10px;
    right: 10px;
}
.projinfo{
    /*width:90%;*/
    position: relative;
    top:10%;
    height:70%;
    margin: 10% 1% 10% 1%;
}
.projinfo>h1{
    /*width:90%;*/
    margin: 5% 0px;
    font-size: 2.5vw;
}
.car-img{
    height:80%;
    width:100%;
    background: linear-gradient(to bottom, #C0C0C0, #13263f);
    position: relative;
    margin: 10% 1%;
    padding: 0px;
} 
.car-img>img{
    height:25vw;
    width:25vw;
    position: relative;
    top:10%;
    left:15%;
    padding: 0px;
} 
.projinfo>p{
    /*width:90%;*/
    margin: 10% 0px;
    font-size: 1.6vw;
}
.techu{
    font-size: 4vw;
    padding:5px 10px;
}
.techused>h3{
    font-size: 2vw;
    font-weight: bold;
}

#project{
    float:left;
    clear:both;

    font-size: 1.3vw;
}
 #about{
    float:left;
    clear:both;
    margin-left: 1.2vw;
    font-size: 1.3vw;
}

#me{
    border-radius: 50%;
    height: 100%;
    
}
#exp{

    position: relative;
    top:20%;
    height:30%;
    margin: 10% 1% 20% 1%;
    padding: 10px;

}
#exp>h2{
    font-size: 3vw;
}

#interest{
    position: relative;
    top: 5%;
}

/*#back{
    position: relative;
    bottom: 0px;
    margin-top:1%; 
}*/
#cont_info{
    margin: 10% 0%;
    height: 40%;
}
#cont_info>h2{
    font-size: 2.8vw;
}

#cont_form{
    font-size: 1.5vw;
}

#sub{
    position: relative;
    float: left;
    clear: both;
    left: 40%;
}
#contact{
    margin: 10% 0%;
}
#mail{
    font-size: 2vw;
}
#form_div{
    height:60%;
    width:100%;
    margin-top:20%;
}